body {
  background-color: #720517 !important;
  /* Header-section styles */
  header {
    margin-top: 50px;
    /* admin-login styles */
    .admin-header {
      display: flex;
      align-items: center;
      .head-logo {
        color: #fff;
        font-size: 50px;
        padding-right: 15px;
        img {
          width: 280px;
          height: 85px;
        }
      }
    }
  }
  /* Main-section styles */
  main {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .admin-login {
      background-color: aliceblue;
      width: 660px;
      padding: 56px;
      .admin-name {
        margin-bottom: 40px;
        h2 {
          text-align: center;
          font-size: 48px;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
      .admin-inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
        input {
          padding: 18px;
          text-indent: 16px;
          border: 1px solid #c4bfbf;
          outline: none;
        }
      }
      .admin-submit {
        button {
          width: 100%;
          background-color: #e16a00;
          border: none;
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          padding: 20px;
          border-radius: 8px;
          transition: 0.3s;
          &:hover {
            background-color: #a14b00;
          }
        }
      }
    }
  }
  /* Mobile-design */
  @media screen and (max-width: 576px) {
    header {
      margin-top: 15px;
      .admin-header {
        .head-logo {
          font-size: 40px;
        }
        .head-text {
          h2 {
            font-size: 15px;
          }
          .line {
            width: 100px;
          }
          h3 {
            font-size: 15px;
          }
        }
      }
    }
    main {
      height: 80vh;
      .admin-login {
        padding: 30px;
        .admin-name {
          h2 {
            font-size: 30px !important;
          }
        }
        .admin-inputs {
          input {
            padding: 12px;
            font-size: 16px;
          }
        }
        .admin-submit {
          button {
            font-size: 16px;
            padding: 12px;
          }
        }
      }
    }
  }
}
